<div class="css-circle" {{action 'changeColor'}}></div>

<style type="text/css">
    .css-circle {
        border-radius: 50%;
        height: {{half}}px;
        width: {{half}}px;
        background-color: {{color}};
    }
</style>
