<h3>Ember 1.10</h3>

{{code-snippet name="old-school-controller.js"}}

<h3>Ember 1.11+</h3>

{{code-snippet name="new-shiny-controller.js"}}

<ul>
    <li>{{#link-to 'object-controller.old-school'}}Old School{{/link-to}}</li>
    <li>{{#link-to 'object-controller.new-shiny'}}New Shiny{{/link-to}}</li>
</ul>

