<h3>Component Helper</h3>

{{#each model as |component|}}
    <div class="row">
      {{component component.name tagName="h1"}}

      {{ember-selectize content=model optionValuePath="name" optionLabelPath="name" value=component.name}}
    </div>
{{/each}}
