<h2 id="title">Ember 1.11 - What's New?</h2>

<nav class="toc">
    <ul>
      <li>{{#link-to "services"}}Services{{/link-to}}</li>
      <li>{{#link-to "inline-if"}}Inline if helper{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}
