<nav class="toc">
    <h2>Features</h2>
    <ol>
        <li>{{#link-to "inject-services"}}Services{{/link-to}}</li>
        <li>{{#link-to "inline-if"}}Inline if helper{{/link-to}}</li>
        <li>{{#link-to "no-bind-attr"}}No Bind Attr{{/link-to}}</li>
        <li>{{#link-to "each-with-index"}}Each With Index{{/link-to}}</li>
        <li>{{#link-to "component-helper"}}Component Helper{{/link-to}}</li>
    </ol>
    <h2>Deprecations</h2>
    <ol>
        <li>{{#link-to "object-controller"}}ObjectController{{/link-to}}</li>
    </ol>
</nav>
