<nav class="toc">
    <ul>
        <li>{{#link-to "inject-services"}}Services{{/link-to}}</li>
        <li>{{#link-to "inline-if"}}Inline if helper{{/link-to}}</li>
        <li>{{#link-to "no-bind-attr"}}No Bind Attr{{/link-to}}</li>
    </ul>
</nav>
